@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

:root {
	--main-color: #ed6436;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.container {
	font-family: "Nunito", sans-serif;
}

.navbar__small {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.navbar {
	font-size: 1.2rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	box-shadow: 0 0 10px #ddd;
	position: sticky;
	padding: 0 2rem;
}

.navbar ul {
	display: flex;
	align-items: center;
	gap: 4rem;
	height: 4rem;
	list-style: none;
}

.navbar li {
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 3px solid transparent;
}

.navbar li > :only-child {
	height: 100%;
	padding-top: 15px;
}

.navbar li .style__button {
	padding-top: 0px;
}

.dropdown .dropbtn {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding-bottom: 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
}

.dropdown-content a {
	float: none;
	color: inherit;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	height: 3.5rem;
	padding: 1rem 0;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.dropdown-content a:hover {
	background-color: white;
	color: var(--main-color);
	border-bottom: 1px solid rgb(212, 212, 212);
}

.home,
.dropbtn,
.demo {
	border-bottom: 3px solid transparent;
}

.home:hover,
.dropdown:hover .dropbtn,
.demo:hover {
	color: var(--main-color);
	border-bottom: 3px solid var(--main-color);
	padding-bottom: 15px;
}

.navbar__logo img {
	height: 4rem;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.style__button {
	width: 9rem;
	height: 3.5rem;
	text-align: center;
	border-radius: 0 30px 30px 30px;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.05rem;
	border: 3px solid var(--main-color);
}

.navbar__large .style__button {
	background: transparent;
}

.navbar__large .style__button:hover {
	background-color: var(--main-color);
	color: white;
}

.main__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1600px;
	padding: 0 1rem;
}

h1 {
	margin-top: 5rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: var(--main-color);
	padding: 0 0 1rem 0;
}

h2 {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.main__header button {
	background-color: var(--main-color);
	color: white;
	height: 4rem;
}

.main__header button:hover {
	background-color: transparent;
	color: var(--main-color);
}

.main__content__img {
	display: flex;
	justify-content: space-between;
	gap: 0.6rem;
	max-width: 1600px;
	margin: 0 1.4rem;
}

.main__img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 28rem;
	background-position: center;
	background-size: cover;
	border-radius: 50px;
	margin: 1rem;
	min-width: 300px;
}

.filter__container {
	opacity: 0;
	height: 100%;
	width: 100%;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #0000008c;
}

.filter__container:hover {
	opacity: 1;
}

.main__img:hover .filter__container {
	opacity: 1;
}

.img1 {
	background-image: url(/images/01.jpg);
}

.img2 {
	background-image: url(/images/02.jpg);
}

.img3 {
	background-image: url(/images/03.jpg);
}

h3,
h4 {
	padding: 1.5rem;
	font-size: 1.5rem;
	color: white;
	text-align: center;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-weight: 400;
	text-transform: uppercase;
}

.main__content > section {
	margin: auto;
}

@media (max-width: 900px) {
	.main__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 2rem;
	}

	h1,
	h2,
	.main__header_title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.navbar ul {
		display: none;
	}

	.navbar__small {
		display: block;
	}

	.navbar__expand-btn {
		height: 2.5rem;
		width: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 0.4rem 0.7rem;
		background: none;
		border: none;
		cursor: pointer;
	}

	.navbar__expand-btn > span {
		width: 100%;
		height: 2px;
		background-color: black;
	}

	.main__content__img {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.img1 {
		margin-top: 2rem;
		height: 30rem;
		width: 100%;
		max-width: 30rem;
		display: flex;
	}

	.img2 {
		height: 30rem;
		width: 100%;
		max-width: 30rem;
		display: flex;
	}

	.img3 {
		height: 30rem;
		width: 100%;
		max-width: 30rem;
		display: flex;
	}

	.filter__container {
		opacity: 1;
		height: 30rem;
		width: 100%;
		max-width: 30rem;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-color: #00000030;
	}

	h3 {
		font-size: auto;
		margin: 0;
		padding: 0 1rem 1rem 1rem;
	}

	h4 {
		padding: 0;
	}
}
